/*************************************************
 *  Featurette Widget
 **************************************************/

.featurette {
  font-size: 0.8rem;
  line-height: 1.5;
  color: #555;
  text-align: center;
}

.featurette .section-subheading {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #333;
}

.dark .featurette,
.dark .featurette .section-subheading {
  color: #fff;
}

.featurette-icon {
  margin-top: -40px;
  margin-bottom: -40px;
  width: 100%;
  display: block;
  color: $sta-primary;
  font-size: 9rem;
  text-align: center;
}
